<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Document</title>
</head>
<body>

  <div id="root" class="container">
    <div class="box_img">
      <img :src="picture" class="logo" alt="logo">
    </div>
    <div class="input_box">
      <input type="text" name="text" id="text" placeholder="Inserisci testo:">
      <button class="btn">Write!</button>
      <h4 v-if="alarm_text">Inserire testo più lungo...</h4>
    </div>
    <div class="box_notes">
      <ul>
        <li v-for="(nota, index) in notes"
            :class="(nota.check)"
        >
          {{nota.nota}}
          <i class="fas fa-times"></i>
        </li>
      </ul>
    </div>
  </div>


  <script src="assets/js/script.js"></script>
</body>
</html>